$mainColor : #588CBC;
$second-color:#588cbc97;

footer{
  background: linear-gradient(to top,$second-color, transparent);
  background-size: cover;
  background-position: center center;
  .footer-info{
    .logo-img{
      width: 150px;
    }
    p{
      color: #222;
    }
    .footer-icons{
      transition: all .3s;
    }
  }

  .footer-services{
    color: #222;
    li{
      font-size: 14px;
    }
  }

  .copy-right{
    background: linear-gradient(to top,$second-color, transparent);
    color: #222;
    font-weight: 600;
  }
  .fa-location-dot{
    color: $second-color;
  }
}
