$mainColor : #128695;
$second-color:#1286957a;

footer{
  background: linear-gradient(to top, #000000 0% 2%, $second-color, #000000);
  background-size: cover;
  background-position: center center;
  .logo{
    .logo-img{
      width: 200px;
    }
    p{
      color: #ccc;
    }
  }
  li{
    font-size: 14px;
    color: #ccc;
  }
  .footer-icons{
    transition: all .3s;
  }
  .footer-contact{
    span{
      font-size: 18px;
      font-weight: 600;
    }
  }
  .copy-right{
    background-color: $mainColor;
    color: #fff;
  }
  .fa-location-dot{
    color: $mainColor;
  }
}
