$mainColor : #588CBC;
$second-color:#588cbc97;
.why-us{
  position: relative;
  .start-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .title{
    span{
      height: fit-content;
    }
  }

  swiper-container {
    width: 100%;
    height: 100%;
    swiper-slide {
      text-align: center;
      font-size: 18px;
      margin: 30px 0;
      height: auto;
      .why-box{
        backdrop-filter: blur(10px);
        img{
          width:80px;
        }
        h5{
          font-size: 22px;
        }
        p{
          color: #222;
          font-size: 16px;
        }
      }
    }
  }

  .accordion-button{
    direction: rtl;
    text-align: left;
    justify-content: space-between;
    &::after{
      background-color: #fff;
      background-position: center;
      background-size: 20px;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      margin: 0;
      margin-right: 20px;
    }
  }

}


