$mainColor : #588CBC;
$second-color:#588cbc97;
.why-us{
  .title{
    span{
      height: fit-content;
    }
  }
  .vision-box, .plan-box, .value-box{
    img{
      width: 50px;
    }
  }
}
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      margin: 30px 0;
      height: auto;
      .why-box{
        backdrop-filter: blur(10px);
        img{
          width:80px;
        }
        h5{
          font-size: 22px;
        }
        p{
          color: #222;
          font-size: 16px;
        }
      }
    }
