$mainColor : #0C4C93;
$second-color:#0C4C9397;
.why-us{
  position: relative;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F2F4F4;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
    z-index: -1;
  }

  .title-why{
    border-bottom: 3px solid $mainColor;
    transition: all .2s;
    font-weight: 800;
    font-size: 38px;
    width: fit-content;
    color: $mainColor;
    &:hover{
      border-top: 3px solid $mainColor;
      border-bottom: none;
    }
  }

  .accordion-button{
    direction: rtl;
    text-align: left;
    justify-content: space-between;
    &::after{
      background-color: #fff;
      background-position: center;
      background-size: 20px;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      margin: 0;
      margin-right: 20px;
    }
  }
}


