<section id="why-us" class="why-us py-5">
  <div class="container">
    <div class="title d-flex gap-1">
      <span class="px-3 py-1 rounded-5 main-bg">{{'whyUs.why' | translate}}</span>
      <h3>{{'whyUs.chooseUs' | translate}}</h3>
    </div>

    <swiper-container dir="rtl" pagination="true" pagination-clickable="true" space-between="30"
    slides-per-view="3" >
      @for (item of whyItems; track $index) {
        <swiper-slide>
          <div class="why-box shadow wow p-3 fadeInUp rounded-5 text-center d-flex flex-column justify-content-evenly align-items-center h-100">
            <div class="why-img d-flex justify-content-center align-items-center">
              <img loading="lazy" [src]="item.icon" [alt]="item.alt | translate">
            </div>
            <div class="why-info">
              <h5 class="my-3">{{item.title | translate}}</h5>
              <p>{{item.desc | translate}}</p>
            </div>
            <div class="why-btn">
              <button class="main-btn rounded-3">{{'whyUs.viewMore' | translate}}</button>
            </div>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
