<section id="contact-us" class="contact-us">
  <div class="container">
    <h3 class="title-contact mx-auto mb-2 wow bounceInUp">{{'contactUs.title' | translate}}</h3>
    <h5 class="text-center main-color fw-medium wow bounceInUp">{{'contactUs.subTitle' | translate}}</h5>

    <div class="contact-form">
       <form class="text-center border p-3 rounded-3">
          <div class="position-relative input-container wow bounceInUp">
            <input type="text" class="form-control input-field" name="fullName" id="fullName" placeholder=" ">
            <div class="icon-Facility d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Facility' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <input type="text" class="form-control input-field" name="description" id="description" placeholder=" ">
            <div class="icon-Name d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Name' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <input type="text" class="form-control input-field" name="administrative" id="administrative" placeholder=" ">
            <div class="icon-Administrative d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Administrative' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <input type="email" class="form-control input-field" name="email" id="email" placeholder=" ">
            <div class="icon-email d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Email' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <input type="tel" class="form-control input-field" name="phone" id="phone" placeholder=" ">
            <div class="icon-phone d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Mobile' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <input type="text" class="form-control input-field" name="service" id="service" placeholder=" ">
            <div class="icon-service d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Service' | translate}}</span>
            </div>
          </div>

          <div class="position-relative input-container wow bounceInUp">
            <textarea class="form-control input-field" name="service" id="service" placeholder=" "></textarea>
            <div class="icon-msg d-flex justify-content-start align-items-center gap-1 w-100">
              <span>{{'contactUs.form.labels.Message' | translate}}</span>
            </div>
          </div>
          <button class="btn main-btn wow rotateInDownLeft">{{'contactUs.form.labels.Send' | translate}}</button>
        </form>
    </div>

    <div class="contact-info mt-3 overflow-hidden">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="d-flex gap-3 border p-3 rounded-4 wow bounceInLeft">
            <div class="box-icon main-bg d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div>
              <h5 class="main-color fw-medium">{{'contactUs.contactInfo.Mobile' | translate}}</h5>
              <h6>059999999</h6>
            </div>
          </div>

          <div class="d-flex gap-3 border p-3 rounded-4 wow bounceInLeft mt-3">
            <div class="box-icon main-bg d-flex justify-content-center align-items-center">
              <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div>
              <h5 class="main-color fw-medium">{{'contactUs.contactInfo.WhatsApp' | translate}}</h5>
              <h6>+966599999999</h6>
            </div>
          </div>

          <div class="d-flex gap-3 border p-3 rounded-4 wow bounceInLeft mt-3">
            <div class="box-icon main-bg d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-envelopes-bulk"></i>
            </div>
            <div>
              <h5 class="main-color fw-medium">{{'contactUs.contactInfo.Email' | translate}}</h5>
              <h6>info&#64;example.sa</h6>
            </div>
          </div>

          <div class="d-flex gap-3 border p-3 rounded-4 wow bounceInLeft mt-3">
            <div class="box-icon main-bg d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div>
              <h5 class="main-color fw-medium">{{'contactUs.contactInfo.Location' | translate}}</h5>
              <h6>Riyadh, Al-Malqa District, Anas Bin Malik Road</h6>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="contact-map h-100 rounded-3 wow bounceIn">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.8566629866195!2d46.59613770850729!3d24.80036124757246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee40eefcb6a9d%3A0xbc4308498520f827!2sAnas%20Ibn%20Malik%20Rd%2C%20Al%20Malqa%2C%20Riyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1757787140031!5m2!1sen!2seg" style="border:0;" class="w-100 h-100" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
