$mainColor : #588CBC;
$second-color:#588cbc97;
.about{
  background: linear-gradient(to top, #ffffffd3, #ffffffd3), url('/assets/image/about-image/about-us.png');
  background-repeat: no-repeat;
  background-position: end center;
  .container{
    border-radius: 30px;
  }
  .about-img{
    img{
      width: 85%;
    }
  }
  .about-info{
    .about-title{
      border: 2px solid $mainColor;
      width: fit-content;
      .line{
        width: 20px;
        height: 8px;
        margin-top: 12px;
      }
      h3{
        font-size: 24px;
      }
    }

    .about-content{
      p{
        color: #222;
      }
    }
  }
}
