<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6">
        <div class="about-info d-flex justify-content-center flex-column h-100 gap-3">
          <h3 class="m-0 py-1 px-2 about-title wow fadeInDown">{{'about.title' | translate}}</h3>

          <div class="about-content px-1">
            <h5 class="wow fadeInUp fw-bold">{{'about.heading' | translate}}</h5>
            <p class="wow fadeInUp m-0">{{'about.content' | translate}}</p>
          </div>

          <div class="about-tabs">
            <ul class="nav nav-tabs px-0" id="myTab" role="tablist">
              @for (item of whyItems; track $index) {
              <li class="nav-item wow bounceInLeft" role="presentation" >
                <button class="nav-link" [ngClass]="{'active': $index === 0}" [id]="'tab-' + $index" data-bs-toggle="tab" [attr.data-bs-target]="'#content-' + $index" type="button" role="tab" [attr.aria-controls]="'content-' + $index" [attr.aria-selected]="$index === 0 ? 'true' : 'false'">
                  <img [src]="item.icon" [alt]="item.alt | translate" width="20" class="me-2">
                  {{ item.title | translate }}
                </button>
              </li>
              }
            </ul>

            <div class="tab-content mt-2 shadow-lg p-3 rounded-3" id="myTabContent">
              @for (item of whyItems; track $index) {
                <div class="tab-pane fade wow bounceInUp" [ngClass]="{'show active': $index === 0}" [id]="'content-' + $index" role="tabpanel" [attr.aria-labelledby]="'tab-' + $index" >
                  <p class="main-color">{{ item.desc | translate }}</p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 wow fadeInUp">
        <div class="about-img text-center">
          <div class="count-box p-5 main-bg wow bounceIn">
            <h3>+10</h3>
            <h6>Years of experience</h6>
          </div>
          <img loading="lazy" src="assets/image/about-image/about-main.png" [alt]="'about.companyTitle' | translate">
        </div>
      </div>
    </div>
  </div>
</section>
