<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="about-img">
          <img src="assets/image/about-image/about-us.jpg" class="rounded-5" alt="taibaconnect">
          <img src="assets/image/about-image/about-line.png" class="line-img" alt="taibaconnect">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-info d-flex flex-column justify-content-center align-items-start h-100">
          <div class="d-flex justify-content-center aling-items-center gap-1 wow fadeInLeft">
            <span class="line rounded-5"></span>
            <h6 class="main-color ms-1">About Us</h6>
          </div>
          <div class="content-about">
            <h3 class="wow fadeInUp">Innovative Designs. Smart Strategies. Real Impact.</h3>
            <p class="mt-3 wow fadeInUp">At To Earn Cash, we provide complete digital solutions that help businesses grow and thrive in the digital world. From engaging social media designs and custom websites and apps to powerful SEO strategies — we deliver every project with passion and precision.<br>
            We’re more than just a service provider — we’re your partner in digital success.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

