<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-3 shadow-lg rounded-5">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="about-img text-center overflow-hidden">
          <img src="assets/image/about-image/about-us.png" class="rounded-5" alt="taibaconnect">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-info text-white d-flex justify-content-center flex-column h-100 gap-3">
          <div class="about-title rounded-5 px-3 py-1 d-flex aling-items-center gap-1 wow fadeInLeft">
            <span class="line main-bg rounded-5"></span>
            <h3 class="m-0">About Us</h3>
          </div>
          <div class="about-content">
            <h5 class="wow fadeInUp fw-bold">Innovative Designs. Smart Strategies. Real Impact.</h5>
            <p class="wow fadeInUp">At To Earn Cash, we provide complete digital solutions that help businesses grow and thrive in the digital world. From engaging social media designs and custom websites and apps to powerful SEO strategies — we deliver every project with passion and precision.<br>We’re more than just a service provider — we’re your partner in digital success.</p>
          </div>
          <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-btn">Contact Us</button>
            <button class="btn second-btn">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
