$mainColor : #0C4C93;
$second-color:#0C4C9397;
.clients{
  .title-client{
    border-bottom: 3px solid $mainColor;
    transition: all .2s;
    font-weight: 800;
    font-size: 38px;
    width: fit-content;
    color: $mainColor;
    &:hover{
      border-top: 3px solid $mainColor;
      border-bottom: none;
    }
  }
}
