$mainColor : #128695;
$second-color:#1286957a;

.partners{
  background: linear-gradient(to top, #000000 0% 2%, $second-color, #000000);
  background-size: cover;
  background-position: center center;
}
