<section id="clients" class="clients">
  <div class="container">
    <h3 class="title-client mx-auto mb-2">{{'clients.title' | translate}}</h3>
    <div class="row g-0">
      <div class="col-12 wow bounceInUp">
        <swiper-container class="mySwiper py-3 " dir="rtl" [slides-per-view]="swiperConfig.slidesPerView"
          [space-between]="swiperConfig.spaceBetween"
          [breakpoints]="swiperConfig.breakpoints"
          [loop]="swiperConfig.loop"
          autoplay-delay="1000" autoplay-disable-on-interaction="false" centered-slides="true"
          >

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-1.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-2.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-3.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-4.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-5.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-6.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-7.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-8.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-9.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-10.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-11.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-12.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-13.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-14.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-15.jpg" class="w-100" alt="">
          </swiper-slide>

           <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-31.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-32.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-33.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-34.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-35.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-36.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-37.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-38.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-39.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-40.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-41.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-42.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-43.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-44.jpg" class="w-100" alt="">
          </swiper-slide>

           <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-45.jpg" class="w-100" alt="">
          </swiper-slide>
        </swiper-container>
      </div>

      <div class="col-12 wow bounceInUp">
        <swiper-container class="mySwiper py-3" dir="ltr" [slides-per-view]="swiperConfig.slidesPerView"
          [space-between]="swiperConfig.spaceBetween"
          [breakpoints]="swiperConfig.breakpoints"
          [loop]="swiperConfig.loop"
          autoplay-delay="1000" autoplay-disable-on-interaction="false"
          centered-slides="true">

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-16.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-17.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-18.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-19.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-20.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-21.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-22.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-23.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-24.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-25.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-26.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-27.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-28.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-29.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img loading="lazy" src="assets/image/client-image/client-30.jpg" class="w-100" alt="">
          </swiper-slide>

        </swiper-container>
      </div>
    </div>
  </div>
</section>
