<section id="clients" class="clients">
  <div class="container">
    <div class="row g-0">
      <div class="col-12 wow fadeInDown">
        <h3 class="title-section">{{'clients.title' | translate}}</h3>
      </div>

      <div class="col-12 wow fadeInUp">
        <swiper-container class="mySwiper py-3" dir="rtl" [slides-per-view]="swiperConfig.slidesPerView"
          [space-between]="swiperConfig.spaceBetween"
          [breakpoints]="swiperConfig.breakpoints"
          [loop]="swiperConfig.loop"
          autoplay-delay="1000" autoplay-disable-on-interaction="false" centered-slides="true">

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 3.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 4.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 5.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 6.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 7.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 8.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 9.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 10.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 11.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 12.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 16.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 17.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 18.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 19.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 20.jpg" class="w-100" alt="">
          </swiper-slide>

        </swiper-container>
      </div>

      <div class="col-12 wow fadeInUp">
        <swiper-container class="mySwiper py-3" dir="ltr" [slides-per-view]="swiperConfig.slidesPerView"
          [space-between]="swiperConfig.spaceBetween"
          [breakpoints]="swiperConfig.breakpoints"
          [loop]="swiperConfig.loop"
          autoplay-delay="1000" autoplay-disable-on-interaction="false"
          centered-slides="true">

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 24.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 29.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 30.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 31.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 32.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 33.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 34.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 35.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 36.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 37.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 38.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 42.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 43.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 44.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 45.jpg" class="w-100" alt="">
          </swiper-slide>

        </swiper-container>
      </div>

      <div class="col-12 wow fadeInUp">
        <swiper-container class="mySwiper py-3" dir="rtl" [slides-per-view]="swiperConfig.slidesPerView"
          [space-between]="swiperConfig.spaceBetween"
          [breakpoints]="swiperConfig.breakpoints"
          [loop]="swiperConfig.loop"
          autoplay-delay="1000" autoplay-disable-on-interaction="false"
          centered-slides="true">
          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 21.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 22.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 23.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 46.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 47.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 48.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 49.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 50.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 51.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 60.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 61.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 62.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 63.jpg" class="w-100" alt="">
          </swiper-slide>

          <swiper-slide>
            <img src="assets/image/client-image/Artboard 23 copy 64.jpg" class="w-100" alt="">
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
