<section id="services" class="services">
  <div class="overlay"></div>
  <div class="container">
    <h2 class="title-section mx-auto mb-4 wow bounceInUp">{{'services.title' | translate}}</h2>
    <div class="row g-3">
      @for (item of services.slice(0,servicesLimit); track $index) {
        <div class="col-md-4">
          <div class="services-box d-flex flex-column justify-content-center align-items-center wow bounceInUp p-3  rounded-5">
            <div class="services-img d-flex flex-column justify-content-center align-items-center gap-3">
              <img loading="lazy" [src]="item.image" [alt]="item.image | translate">
              <h5 class="text-center">{{item.title | translate}}</h5>
            </div>
            <div class="services-info">
              <ul class="text-start main-color fw-medium">
                @for (point of (item.list | translate); track $index) {
                  <li>{{ point | translate }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
      }
      @if (servicesLimit < services.length) {
        <div class="text-center mt-4">
          <button class="btn main-btn wow rotateInDownLeft" (click)="showMore()">{{'services.showMore' | translate}}</button>
        </div>
      }
    </div>
  </div>
</section>
