$mainColor : #128695;
$second-color:#1286957a;

.services{
  position: relative;
  .arrow-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);

  }
  .title-section{
    position: relative;
    width: fit-content;
    text-shadow: 4px 4px 5px $second-color;
    &::before{
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 3px;
      width: 65%;
      background-color: $mainColor;
    }
  }
  .services-box {
    img{
      width: 80px;
    }
    .services-info{
      span{
        font-size: 14px;
      }
    }
  }
}
@media (max-width:567px) {
  .arrow-image{
    display: none !important;
  }
}
