@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$mainColor: #128695;
*{
  font-family: "Raleway", sans-serif;
}
.main-color{
  color:$mainColor
}
.main-bg{
  background-color: $mainColor;
  border: 1px solid $mainColor;
}
.main-btn{
  width: 130px;
  color: #fff;
  @extend .main-bg;
  &:hover{
    @extend .main-bg
  }
}
.second-btn{
  width: 130px;
  color: #fff;
  border: 1px solid $mainColor;
  background-color: transparent;
  &:hover{
    @extend .main-bg
  }
}
.cr{
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}
