@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$mainColor : #588CBC;
$second-color:#588cbc97;
html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
*{
  font-family: "Raleway", sans-serif;
}
.main-color{
  color:$mainColor
}
.main-bg{
  background-color: $mainColor;
  border: 1px solid $mainColor;
  color: #fff
}
.main-btn{
  width: 130px;
  color: #fff;
  @extend .main-bg;
  &:hover{
    @extend .main-bg
  }
}
.second-btn{
  width: 130px;
  color: #222;
  border: 1px solid $mainColor;
  background-color: transparent;
  &:hover{
    @extend .main-bg
  }
}
.cr{
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}
