@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
// $mainColor : #1824AA;
// *:not(i){
//   font-family: "Plus Jakarta Sans", serif;
//   color: #fff;
// }
// .home{
//   background: url('../../assets/image/home-image/home-img.png');
//   background-size: cover;
//   background-position: center center;
//   height: 100vh;
//   .title{
//     position: relative;
//     transform: rotate(-5deg);
//     top: 60px;
//     z-index: 999;
//     h1,h2{
//       position: relative;
//       font-weight: 700;
//     }
//     h1{
//       font-size:130px;
//       letter-spacing: -3px !important;
//       left: -65px;
//       span{
//         font-family: "Dancing Script", cursive;
//         font-size: 180px;
//         position: relative;
//         right: -30px;
//       }
//     }
//     h2{
//       font-size: 90px;
//       top: -80px;
//       letter-spacing: -3px !important;
//     }
//   }
//   p{
//     font-size: 20px;
//     width: 75%;
//     margin: auto;
//     font-weight: 600;
//     span{
//       background-color: $mainColor;
//     }
//   }
//   .btn-home{
//     border: 1px solid $mainColor;
//     font-weight: 600;
//     &.btn-master, &:hover{
//       background-color: #eee;
//       color: $mainColor;
//     }
//   }

//   .left-line{
//     position: absolute;
//     left: -10pxc;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 1;
//   }
//   .right-line{
//     position: absolute;
//     right: -10px;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 1;
//   }
// }
// @media (max-width:991px) {
//   .title{
//     top: 0 !important;
//   }
// }
// @media (max-width:768px) {
//   .title{
//     top: 40px !important;
//     h1{
//       font-size: 100px !important;
//       left: -40px !important;
//     }
//     h2{
//       font-size: 80px !important;
//       top: -70px !important;
//       right: -30px;
//     }
//   }
//   p{
//     width: 100% !important;
//     font-size: 16px !important;
//   }
// }
// .marquee {
//   white-space: nowrap;
//   animation: scroll-left 25s linear infinite;
//   will-change: transform;
// }

// @keyframes scroll-left {
//   0% {
//     transform: translateX(0%);
//   }

//   100% {
//     transform: translateX(-100%);
//   }
// }
$mainColor : #128695;
$second-color:#1286957a;
.home{
  background: linear-gradient(to bottom, $second-color, #000000), url('../../assets/image/home-image/Animation\ Tech\ GIF.gif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  h1{
    text-transform: capitalize;
  }
  p{
    color: #ccc;
  }
}
