@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$mainColor : #588CBC;
$second-color:#588cbc97;
.home{
  background: linear-gradient(to right,#222222b9 ,#222222b9 ), url('/assets/image/home-image/home-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: $mainColor;
  .home-content{
    padding: 20px;
    width: 75%;
    border-radius: 20px;
    h1{
      text-transform: capitalize;
      font-weight: 800;
    }
    p{
      color: #fff;
    }
    .second-btn{
      color: #fff;
    }
  }
}
@media (max-width:567px) {
  .home-content{
    width: 100% !important;
  }
}
