@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$mainColor : #128695;
$second-color:#1286957a;
.home{
  background: linear-gradient(to bottom, $second-color, #000000), url('/assets/image/home-image/home-bg.gif');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  .home-content{
    width: 75%;
    h1{
      text-transform: capitalize;
    }
    p{
      color: #ccc;
    }
  }
}
@media (max-width:567px) {
  .home-content{
    width: 100% !important;
  }
}
