$mainColor : #128695;
$second-color:#1286957a;
.feature{
  background: linear-gradient(to top, #000000 0% 2%, $second-color, #000000);
  background-size: cover;
  background-position: center center;
  .title{
    h5{
      font-size: 16px;
    }
    h6{
      font-size: 30px;
      text-transform: capitalize;
    }
  }
  swiper-container {
    width: 100%;
    swiper-slide {
      backdrop-filter: blur(20px);
      width: 350px;
      height: 470px;
    }
  }

  .feature-box{
    position: relative;
    color: #fff !important;
    .feature-image{
      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .feature-title{
      h6{
        font-size: 22px;
      }
    }
    .feature-footer{
      border-top-left-radius: 10px;
    }
  }
}
