// $mainColor:#55508D;
// .feature{
//   background-color : #F6F8FA;
//   .title{
//     h5{
//       font-size: 16px;
//       color: $mainColor;
//     }
//     h6{
//       font-size: 30px;
//       color: $mainColor;
//     }
//   }
//   swiper-slide{
//     height: 470px;
//   }
//   .feature-box{
//     position: relative;
//     .feature-image{
//       img{
//         width: 200px;
//         height: 200px;
//         object-fit: cover;
//       }
//     }
//     .feature-title{
//       h5{
//         font-size: 22px;
//         font-weight: 700;
//         margin-bottom: 0;
//         color: $mainColor;
//       }
//     }
//     .feature-footer{
//       background-color: $main-color;
//       position: absolute;
//       right: 0;
//       bottom: 0;
//     }
//   }
// }

// @media (max-width:576px) {
//   h6{
//     font-size: 30px !important;
//   }
//   .feature-title{
//     h5{
//       font-size: 24px !important;
//     }
//   }
// }

$mainColor : #128695;
$second-color:#1286957a;
.feature{
  background: linear-gradient(to top, #000000 0% 2%, $second-color, #000000), url('../../assets/image/about-image/about-bg.jpg');
  background-size: cover;
  background-position: center center;
  .title{
    h5{
      font-size: 16px;
    }
    h6{
      font-size: 30px;
      text-transform: capitalize;
    }
  }
  swiper-container {
    width: 100%;
    swiper-slide {
      backdrop-filter: blur(20px);
      width: 350px;
      height: 470px;
    }
  }

  .feature-box{
    position: relative;
    color: #fff !important;
    .feature-image{
      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .feature-title{
      h6{
        font-size: 22px;
      }
    }
    .feature-footer{
      border-top-left-radius: 10px;
    }
  }
}
